version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
    labels: [ ]
  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      interval: "daily"
    labels: [ ]
    groups:
      program-dependencies:
        applies-to: version-updates
  - package-ecosystem: "cargo"
    directories:
      - "rust-sdk/*"
      - "ts-sdk/*"
    schedule:
      interval: "daily"
    labels: [ ]
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    labels: [ ]
