version: 2
updates: []
#updates:
#  - package-ecosystem: "npm"
#    directory: "/"
#    schedule:
#      interval: "daily"
#    labels: [ ]
#  - package-ecosystem: "cargo"
#    directory: "/"
#    schedule:
#      interval: "daily"
#    labels: [ ]
#    groups:
#      program-dependencies:
#        applies-to: version-updates
#        dependency-type: production
#  - package-ecosystem: "github-actions"
#    directory: "/"
#    schedule:
#      interval: "daily"
#    labels: [ ]
