[programs.localnet]
whirlpool = "whirLbMiicVdio4qvUfM5KAg6Ct8VwpYzGff3uctyCc"

[registry]
url = "https://anchor.projectserum.com"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn vitest run --test-timeout 1000000 --no-file-parallelism --globals legacy-sdk"

[test.validator]
slots_per_epoch = "33"
ticks_per_slot = 7
url = "https://api.mainnet-beta.solana.com"

# In v0.29.0, this doesn't work because ProgramData account is cloned with executable = false (anchor bug ?)
# So we need to use test.genesis config.
# [[test.validator.clone]]
# address = "metaqbxxUerdq28cj1RbAWkYQm3ybzjb6a8bt518x1s"

[[test.genesis]]
address = "metaqbxxUerdq28cj1RbAWkYQm3ybzjb6a8bt518x1s"
program = "legacy-sdk/whirlpool/tests/external_program/mpl_token_metadata.20240214.so"

[[test.genesis]]
address = "EBZDYx7599krFc4m2govwBdZcicr4GgepqC78m71nsHS"
program = "legacy-sdk/whirlpool/tests/external_program/transfer_hook_counter.so"

# Newer Token-2022
[[test.genesis]]
address = "TokenzQdBNbLqP5VEhdkAS6EPFLC1PHnBqCXEpPxuEb"
program = "legacy-sdk/whirlpool/tests/external_program/token_2022.20250510.so"
