name: Checks

on:
  pull_request:
    branches: "*"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    - name: Setup Anchor
      uses: ./.github/actions/anchor
    - name: Install dependencies
      run: yarn install
    - name: Build packages
      run: yarn build --output-style static

  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    - name: Setup Anchor
      uses: ./.github/actions/anchor
    - name: Install dependencies
      run: yarn install
    - name: Run tests
      run: yarn test --exclude legacy-sdk/integration --output-style static

  lint:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    - name: Setup Anchor
      uses: ./.github/actions/anchor
    - name: Install dependencies
      run: yarn install
    - name: Run Lint
      run: yarn lint --output-style static
