name: Docs

on:
  push:
    branches: [main]

concurrency:
  group: "docs"
  cancel-in-progress: false

jobs:

    build:
      runs-on: ubuntu-latest
      permissions:
        pages: write
        id-token: write
      steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup Github Pages
        uses: actions/configure-pages@v5
      - name: Build Docs
        uses: ./.github/actions/anchor
        with:
          run: |
            yarn build docs/whirlpool --output-style static
      - name: Upload Artifact
        uses: actions/upload-artifact@master
        with:
          name: github-pages
          path: ./docs/whirlpool/dist
      - name: Deploy Artifact
        id: deployment
        uses: actions/deploy-pages@v4
