name: Publish

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'

jobs:

  npm:
    strategy:
      matrix:
        package: [client]
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Set Version
      uses: ./.github/actions/version
      with:
        version: ${{ github.ref }}
        manifest-file: ts-sdk/${{ matrix.package }}/package.json
    - name: Deploy npm
      uses: ./.github/actions/anchor
      with:
        run: |
          yarn install
          yarn build ts-sdk/${{ matrix.package }} --output-style static
          cd ts-sdk/${{ matrix.package }} && npm publish --access public
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

  cargo:
    strategy:
      matrix:
        package: [client]
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Set Version
      uses: ./.github/actions/version
      with:
        version: ${{ github.ref }}
        manifest-file: rust-sdk/${{ matrix.package }}/Cargo.toml
    - name: Deploy cargo
      uses: ./.github/actions/anchor
      with:
        run: |
          yarn build rust-sdk/${{ matrix.package }} --output-style static
          cd rust-sdk/${{ matrix.package }} && cargo publish --allow-dirty
      env:
        CRATES_IO_API_TOKEN: ${{ secrets.CRATES_TOKEN }}

  idl:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Build idl
      uses: ./.github/actions/anchor
      with:
        run: |
          anchor build
    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: idl
        path: target/idl/*.json
        if-no-files-found: error

  release:
    needs: [npm, cargo, idl]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - name: Download artifacts
      uses: actions/download-artifact@v4
      with:
        name: idl
        path: idl
    - name: Create Release
      uses: ncipollo/release-action@v1
      with:
        generateReleaseNotes: true
        allowUpdates: true
        artifacts: idl
