name: Publish

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'

jobs:

  npm:
    strategy:
      matrix:
        package: [client]
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Deploy npm
      uses: ./.github/actions/anchor
      with:
        run: |
          cd ts-sdk/${{ matrix.package }} && yarn version $(basename ${{ github.ref }})
          # TODO: replace workspace dependencies with fixed version
          yarn install
          yarn build ts-sdk/${{ matrix.package }} --output-style static
          cd ts-sdk/${{ matrix.package }} && npm publish --access public
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

  cargo:
    strategy:
      matrix:
        package: [client]
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Deploy cargo
      uses: ./.github/actions/anchor
      with:
        run: |
          sed -i 's/version = v[0-9]+.[0-9]+.[0-9]+/version = $(basename ${{ github.ref }})/' rust-sdk/${{ matrix.package }}/Cargo.toml
          # TODO: replace workspace dependencies with fixed version
          yarn build rust-sdk/${{ matrix.package }} --output-style static
          cd rust-sdk/${{ matrix.package }} && cargo publish
      env:
        CRATES_IO_API_TOKEN: ${{ secrets.CRATES_TOKEN }}

  verifiable:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Verifiable build
      run: anchor build --verifiable
    - name: Upload artifacts
      uses: actions/upload-artifact@v2
      with:
        name: verifiable-build
        path: |
          target/deploy/*.so
          target/idl/*.json
        if-no-files-found: error

  release:
    needs: [npm, cargo, verifiable]
    if: ${{ always() }}
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - name: Download artifacts
      uses: actions/download-artifact@v2
      with:
        name: verifiable-build
        path: artifacts/
    - name: Create Release
      uses: ncipollo/release-action@v1
      with:
        generateReleaseNotes: true
        allowUpdates: true
        artifacts: artifacts/
