name: Security

on:
  workflow_dispatch:
#  pull_request:
#    branches: [main]
#  push:
#    branches: [main]
#  schedule:
#    - cron: '0 8 * * *'

jobs:

  analyze:
    runs-on: ubuntu-latest
    permissions:
      security-events: write
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4
    - name: Initialize CodeQL
      uses: github/codeql-action/init@v3
      with:
        languages: javascript
    - name: Analyze CodeQL
      uses: github/codeql-action/analyze@v3
